<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ site.city.name }}</title>

        <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div id="map"></div>
                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </div>

        <script type="application/javascript" src="/static/jquery-3.4.1.js"></script>
        <script type="application/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script type="application/javascript">
            let map
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: {{ site.coordinates.latitude }}, lng: {{ site.coordinates.longitude }}},
                    zoom: 8
                })
            }
        </script>
        <script type="application/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ site.keys.google }}&callback=initMap" async defer></script>
    </body>
</html>