<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ site.city.name }}</title>

        <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/static/app.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <div id="map"></div>
                </div>
                <div class="col-lg">
                    <h2>
                        {{ site.city.name }}
                    </h2>
                    <hr>
                    <div class="temperature">
                        <p>
                            <center>
                                <p>
                                    <b>Temperature:</b><br>
                                    <span id="temperature">0.0</span> °C<br>
                                    {% if site.weather_provider == "darksky" %}
                                    <i>Powered by <a target="_blank" href="https://darksky.com">Dark Sky</a></i>
                                    {% endif %}
                                </p>
                            </center>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <script type="application/javascript" src="/static/jquery-3.4.1.js"></script>
        <script type="application/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script type="application/javascript">
            let map
            let marker
            let infowindow

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: {{ site.city.coordinates.latitude }}, lng: {{ site.city.coordinates.longitude }}},
                    zoom: 8,
                    zoomControl: true,
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    rotateControl: false,
                    fullscreenControl: false
                })
                marker = new google.maps.Marker({position: {lat: {{ site.city.coordinates.latitude }}, lng: {{ site.city.coordinates.longitude }}}, map: map})
                infowindow = new google.maps.InfoWindow({
                    content: '<div id="content">' +
                        '<b>{{ site.city.name }}</b>' +
                        '</div>'
                })
                marker.addListener('click', function() {
                    infowindow.open(map, marker);
                })
            }
        </script>
        <script type="application/javascript" src="https://cdn.jsdelivr.net/gh/MagicMarvMan/libtempconvert@v1.0-beta.1/libtempconvert.js"></script>
        <script type="application/javascript">
            let temp
            {% if site.weather_provider == "darksky" %}
            function fetchTemperature() {
                fetch("https://cors-anywhere.herokuapp.com/https://api.darksky.net/forecast/{{ site.darksky_key }}/{{ site.city.coordinates.latitude }},{{ site.city.coordinates.longitude }}")
                    .then((response) => {
                        return response.json()
                    }).then((json) => {
                        temp = Math.round(fahrenheitToCelsius(json.currently.temperature) * 10) / 10
                        $('#temperature').html(temp)
                        return temp
                    })
            }
            {% endif %}
            {% if site.weather_provider == "openweathermap" %}
            function fetchTemperature() {
                fetch("https://api.openweathermap.org/data/2.5/weather?lat={{ site.city.coordinates.latitude }}&lon={{ site.city.coordinates.longitude }}&appid={{ site.openweathermap_key }}")
                    .then((response) => {
                        return response.json()
                    }).then((json) => {
                        temp = (Math.round(kelvinToCelsius(json.main.temp) * 10) / 10)
                        $('#temperature').html(temp)
                        return temp
                    })
            }
            {% endif %}
            fetchTemperature()
        </script>
        <script type="application/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ site.google_key }}&callback=initMap" async defer></script>
    </body>
</html>